ion-header {
    ion-toolbar, ion-item {
        --background: #ffffff;
        background: #ffffff;
        padding: 0 10px;
        color: black;
    }

    ion-toolbar {
        .bordered {
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
        }
    }

    ion-item {
        
        h3 {
            font-weight: 700;
            font-size: 14px;
        }

        h2 {
            font-weight: 800;
            font-size: 14px;
        }
        p {
            font-weight: 500;
            font-size: 14px;
        }

        ion-thumbnail {
            --border-radius: 14px;
            margin-right: 20px;
        }
    }

    ion-icon {
        zoom: 3;
        color: #e4b374;
        margin-right: 5px;
    }
}

ion-content {
    --background: linear-gradient(90deg, rgb(230, 218, 113) 0%, rgb(221, 213, 98) 35%, rgb(247, 238, 119) 100%);
    
    .slides {
        background: #ffffff;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
    }

    .container {
        padding: 6px 10px;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;

        ion-item {
            --background: rgba(255,255,255,.4);
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: black;
            font-weight: 600;

            ion-row {
                h4 {
                    font-weight: 600;
                    font-size: 16px;
                }
                ion-icon {
                    color: black;
                }

            }

            ion-button.btn-main {
                --background : var(--ion-color-main-tint);
            }
        }

        h2 {
            padding-bottom: 8px;
        }
    }

    
    .video {
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        //height: auto; /* spec says no percent allowed here */
    }
}