ion-header {
    ion-toolbar, ion-item {
        --background: #ffffff;
        background: #ffffff;
        padding: 0 10px;
        color: black;
    }
  
    ion-toolbar {
        .bordered {
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
        }
    }
  
    ion-item {
        
        h3 {
            font-weight: 700;
            font-size: 14px;
        }
  
        h2 {
            color: black;
            font-weight: 800;
            font-size: 14px;
        }
        p {
            font-weight: 500;
            font-size: 14px;
        }
  
        ion-icon {
          zoom: 3;
          color: black;
          margin-right: 5px;
        }
    }
  }

  ion-content.main {
    --background: linear-gradient(90deg, rgb(230, 218, 113) 0%, rgb(221, 213, 98) 35%, rgb(247, 238, 119) 100%);
    
    .slides {
        background: #ffffff;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
        
    }
  
    .container {
        padding: 6px 10px;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        color: black;
  
        ion-card-title {
          color: black;
        }
  
        ion-item {
            --background: rgba(255,255,255,.4);
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: black;
            font-weight: 600;
  
  
            ion-button.btn-main {
                --background : var(--ion-color-main-tint);
            }
  
            .img-chofer {
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;
              width: 100%;
              padding: 8px;
            }
            
            ion-thumbnail {
              --size: 100px;
              --border-radius: 14px;
              margin-bottom: 15px;
            }

            .regStr{
                transition:.25s;
                padding-bottom:4px;
                padding-left: 4px;
                border-bottom:2px solid gray;
                color:#212519;
                text-decoration: none;
            }

            .regStr:hover{
                border-bottom:2px solid var(--ion-color-main);
                padding-bottom:8px;
                transition:.25s;
                text-decoration:none;
                color:#212519;
            }
        }
  
        h2 {
            padding-bottom: 8px;
        }
    }
  }



  ion-header.header-modal {
    
    ion-toolbar, ion-item {
        --background: #e6da71;
        background: #e6da71;
        padding: 0 10px;
    }
  
    ion-toolbar {
        .bordered {
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
        }
    }
    ion-icon {
        zoom: 3;
        color: black;
        margin-right: 5px;
    }
  }
  
  ion-header.header-modal::after {
    background-image: none;
  }
  
  ion-content.content-modal {
    --background: linear-gradient(90deg, rgb(245, 244, 235) 0%, rgb(245, 244, 227) 35%, rgb(248, 248, 239) 100%);
    
    .slides {
        background: #e6da71;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
        
    }
  
    .container {
        padding: 6px 10px;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        color: black;
  
        ion-card-title {
          color: black;
        }
  
        ion-item {
            --background: rgba(255,255,255,.4);
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: black;
            font-weight: 600;
  
  
            ion-button.btn-main {
                --background : var(--ion-color-main-tint);
            }
  
            .img-chofer {
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;
              width: 100%;
              padding: 8px;
            }
            
            ion-thumbnail {
              --size: 100px;
              --border-radius: 14px;
              margin-bottom: 15px;
            }

            .regStr{
                transition:.25s;
                padding-bottom:4px;
                padding-left: 4px;
                border-bottom:2px solid gray;
                color:#212519;
                text-decoration: none;
            }
            .regStr:hover{
                border-bottom:2px solid var(--ion-color-main);
                padding-bottom:8px;
                transition:.25s;
                text-decoration:none;
                color:#212519;
            }
        }
  
        h2 {
            padding-bottom: 8px;
        }
    }
  }