<ion-header class="ion-no-border header-main">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button routerLink="/admin-tabs"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>

  <ion-item lines="none">
      <div class="main">
        <ion-icon name="car"></ion-icon>
      </div>
			<ion-label>
        <h1>Choferes registrados</h1>
			</ion-label>
      
	</ion-item>
  <ion-item lines="none">
    <ion-button class="btn-icon" (click)="downloadAsistencias()">Descargar asistencias</ion-button>
  </ion-item>
  <ion-item lines="none" style="margin-top: -10px;">
    <ion-button class="btn-icon" (click)="consultarVigencias()">Consultar vigencia de documentos</ion-button>
  </ion-item>
  <ion-searchbar placeholder="Buscar chofer" animated (ionChange)="searchChofer($event)"></ion-searchbar>
  
</ion-header>

<ion-content class="main">
  <div class="slides ion-margin-bottom">
   
  </div>

  <div class="container">
    <ion-item *ngFor="let user of searchedChofer" lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="ion-no-padding">
            <ion-thumbnail class="thumb-chofer">
              <img alt="" src="{{ user.foto }}"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8" class="ion-no-padding">
            <ion-row>
              <ion-text>
                <h6>Nombre: {{ user.nombreCompleto }}</h6>
                <h6>Estatus: {{ user.estatus }}</h6>
              </ion-text>
            </ion-row>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-row>
              <ion-button class="btn-icon" (click)="cambiarEstatus(user.idUser)" *appHasRole="['admin', 'logistica', 'seguridad']"><ion-icon name="eye-off"></ion-icon></ion-button>
              <ion-button class="btn-icon" [routerLink]="'/admin-tabs/main/choferes-lista/detail/' + user.idUser"><ion-icon name="reader"></ion-icon></ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>


  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header class="header-modal" no-border>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      
        <ion-item lines="none">
            <div class="main">
              <ion-icon name="information-circle"></ion-icon>
            </div>
            <ion-label>
              <ion-title>Modificar estatus</ion-title>
            </ion-label>
        </ion-item>
      </ion-header>

      <ion-content class="content-modal">
        <div class="slides ion-margin-bottom">
         
        </div>
        <div class="container">
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-text>
                    <p>Nombre: {{ nombre }}</p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col>
                    <ion-item lines="none">
                      <div class="img-chofer">
                        <ion-thumbnail class="img-chofer">
                          <img alt="" src="{{ foto }}"/>
                        </ion-thumbnail>
                      </div>
                    </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-item lines="none">
                    <ion-text>
                      <p> Estatus actual: {{ estatus }} </p>
                    </ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-item lines="none">
                  <div>
                    <ion-grid>
                      <ion-row>
                        <ion-button class="btn-icon" *ngIf="estatus === 'VETADO'" (click)="habilitar()">Habilitar chofer</ion-button>
                      </ion-row>
                      <ion-row>
                        <ion-button class="btn-icon" *ngIf="estatus === 'ACTIVO' || estatus === 'INCOMPLETO'" (click)="deshabilitar()">Deshabilitar chofer</ion-button>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-item>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalVigenciaOpen" (willDismiss)="onWillVigenciaDismiss($event)">
    <ng-template>
      <ion-header class="header-modal" no-border>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setVigenciaOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      
        <ion-item lines="none">
            <div class="main">
              <ion-icon name="information-circle"></ion-icon>
            </div>
            <ion-label>
              <ion-title>Documentos vencidos</ion-title>
            </ion-label>
        </ion-item>
      </ion-header>

      <ion-content class="content-modal">
        <div class="slides ion-margin-bottom">
         
        </div>
        <div class="container">
          <ion-item lines="none" style="margin-bottom: 10px;">
            <ion-grid>
              <ion-row>
                <p>Los siguientes choferes deben actualizar las fechas de los documentos indicados.</p>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none" style="margin-bottom: 10px;">
            <ion-grid>
              <ion-row>
                <ion-accordion-group style="width: 100%;">
                  <div *ngFor="let user of documentosVencidos" style="margin-bottom: 5px; border-radius: 14px;">
                    <ion-accordion value="{{ user.clave }}" style="border-radius: 14px;">
                      <ion-item slot="header" color="light">
                        <ion-label> {{ user.nombreCompleto }} </ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content" *ngFor="let doc of user.documents">
                        {{ doc.nombre }}: {{ doc.pivot.valor }}
                      </div>
                    </ion-accordion>
                  </div>
                </ion-accordion-group>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>


